*{padding: 0; margin: 0; box-sizing: border-box;}

.mySwiper{
    text-align: center;
}
.boxShadow{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    padding: 5px;
}

.img-frame{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.slide1{
    display: block;
    width: 100%;
    height: 50%;
}
.text-frame{
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
}
.text-frame h1{
    text-align: left;
    font-size: 25px;
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.text-frame p{
    text-align: left;
    font-size: 17px;
    padding: 10px;
}
.showArea{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stack{
    text-align: left;
    padding: 10px;
}

.stack img{
    margin-left: 5px;
}
.goBtn{
    display: flex;
    height: 25px;
}
.swiper .swiper-pagination {
    position: absolute;
    bottom: -10px !important;
}

.swiper .swiper-pagination-bullet {
    background-color: white;
    margin: 0 10px !important;
}



